{
  "presets": [
    ["env", { "modules": false }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "universal-import",
    ["lodash", { "id": ["lodash", "semantic-ui-react"] }]
  ]
}
