{
  "env": {
    "mocha": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script",
    "ecmaFeatures": {
      "modules": false
    }
  },
  "rules": {
    "semi": [2, "never"],
    "no-console": [0],
    "no-param-reassign": [2, {"props": false}],
    "no-underscore-dangle": [2, {"allow": ["_id"]}],
    "object-curly-spacing": [0],
    "no-unused-vars": [2, {"args": "none"}],
    "function-paren-newline": [2, "consistent"],
    "arrow-parens": [2, "always"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }]
  }
}
